.cache/
datasets/
*.jpg
submodules
__pycache__
extern/
output/
results/
.vscode
*.mp4
*.png
demo.*
save/
outputs/
.threestudio_cache
wonder3D/ckpts
threestudio/utils/wonder3D/instant-nsr-pl/exp
edit_cache/
fine_add_cache/
*.pth
tmp_*/
shap_e_model_cache/
LeftRefill/pretrained_models/